img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#img2{
    width: 35px;
}

form{
    width: 100%;
}

#i1{
    margin-left: 34%;
    width: 40%;
}

#btn1{
    /* margin-left: auto;
    margin-right: auto;
    display: block; */

    margin-left: 50.5%;
}

.definition{
    font-weight: normal;
}

.example{
    font-weight: normal;
    font-family: Cambria;
    font-style: italic;
    color:#333333;
}


#h1{
    text-align: center;
}


.collapsible {
    font-size: 15px;
    border-radius: 20px;
    border-color: indigo;
    background: white;
    color: indigo;
    border: 1px solid;
}

.collapsible:hover {
    border-radius: 20px;
    border-color: indigo;
    background: indigo;
    color: white;
}

.synonym{
    font-weight: normal;
}
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }



.header img {
  float: left;
  width: 80px;
  height: 80px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-size: 47px;
}


.headerMenuOpened img {
    float: left;
    width: 80px;
    height: 80px;
    
    margin-left: 4%;
  }

.headerMenuOpened h1{
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 47px;
   
    margin-left: 4%;
  }

.header{
    margin-left: 38%;
}

.headerMenuOpened{
    margin-left: 38%;
}

.meaning{
    font-size: 30px;
    color: indigo;
}

.hl {
    border-width: 2px;
}
